@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    /* Kich thuoc man hinh la 1280 x 720 */
    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    list-style: none;
    display: flex;
}

#menu .item {
    margin: 0px 25px;
}

#menu .item a {
    color: #626a67;
    text-decoration: none;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left: 22px;
}



#banner {
    width: 100%;
    background-image: url("../homepage/assets/background.png");
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

#banner .box-left, #banner .box-right {
    width: 50%;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

#banner .box-left p {
    color: #1d1a1a;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover {
    background: #FD4B59;
}
#banner .box-right{
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img{
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.to-bottom {
    position:absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
}

/*---BOOK PHONG---*/
.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.book {
    padding: 40px 0;
    background: #1d1a1a;
    color: #fff;
}
h1{
    font-family: serif;
}
.book h1 {
    font-size: 28px;
}
.book h1 span {
    color: #FD4B59;
}
.book input {
    padding: 20px;
}
.book input:nth-last-child(1) {
    background: #FD4B59;
    color: #fff;
}


/*---about---*/
.left, .right {
    width: 50%;
    padding: 30px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading h1 {
    font-size: 100px;
    font-weight: 500px;
    opacity: 0.1;
    font-family: serif;
    position: absolute;
    top: -30px;
}

.heading h2 {
    margin: 30px 0 ;
    font-size: 45px;
    font-family: serif;
    font-weight: 400;
}

.about .heading h1 {
    top: 55px;
}

.about {
    position: relative;
}

.about .left {
    margin-top: 30px;
}

.about p {
    font-size: 15px;
}

.about button {
    margin-top: 100px 0;
}
#footer {
    width: 100%;
    background: rgb(0,0,0,0.79);
    height: 322px;
    margin-top: 338px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}
#footer .box {
    width: 250px;
    color: #fff;
}
#footer .box .quick-menu {
    margin-top: 40px;
}

#footer .box .quick-menu .item a{
    color: #fff;
    text-decoration: none ;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}

#footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgb(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}